
<mat-card class="class-box" [ngClass]="name" id={{id}}>
    <mat-card-header >
        <div class="name-header">
            <mat-card-title>{{name}}</mat-card-title>
            <button mat-icon-button class="edit-button" (click)="openEditor('name','name')">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="delete-button" (click)="deleteClass()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-subtitle class="variables">
        <div class="variable-header">
            <h4>Variables: </h4>
            <button mat-icon-button class="add-button variable" (click)="edit='new_variable'">
                <mat-icon>add</mat-icon>
            </button>
        </div>     
        <mat-chip-list>
            <mat-chip (click)="openEditor('chip',variable)" (removed)="removeVariable(variable)" 
            *ngFor="let variable of variables;trackBy:trackVariables" class="{{variable}} mat-chip mat-standard-chip">
                {{variable}} <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </mat-card-subtitle>
    <mat-card-subtitle class="methods">
        <div class="method-header">
            <h4>Methods: </h4>
            <button mat-icon-button class="add-button method" (click)="edit = 'new_method'">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <mat-chip-list>
            <mat-chip (click)="openEditor('chip',method)" (removed)="removeMethod(method)" class="{{method}} mat-chip mat-standard-chip" *ngFor="let method of methods;trackBy:trackMethods">
                {{method}} <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </mat-card-subtitle>
</mat-card>
<!-- editors -->
<!-- change name -->
<span *ngIf="edit == 'name'" class="editor">
    <textarea [(ngModel)]="editorName" (ngModelChange)="existenceCheck()" matInput>{{editorName}}</textarea>
    <span *ngIf="exists == false">
        <button mat-raised-button color="primary" (click)="editName()">update</button>
    </span>
</span>
<!-- add new methods / variables -->
<span *ngIf="edit == 'new_method'" class="editor chip">
    <input [(ngModel)]="chipAttribute" value='{{chipAttribute}}' matInput>
    <button mat-raised-button color="primary" (click)="addChip('method')">add</button>
</span>
<span *ngIf="edit == 'new_variable'" class="editor chip">
    <input [(ngModel)]="chipAttribute" value='{{chipAttribute}}' matInput>
    <button mat-raised-button color="primary" (click)="addChip('variable')">add</button>
</span>
<!-- change chip value -->
<span *ngIf="edit == 'chip'" class="editor chip">
    <input [(ngModel)]="chipAttribute" value='{{chipAttribute}}' matInput>
    <button mat-raised-button color="primary" (click)="updateChip()">update</button>
</span>


