
<div class="class-box" [ngClass]="name" id={{id}}>
    <div class="name" >
        <h2>{{name}}</h2>
    </div>
    <div class="variables">
        <h4>Variables: </h4>
        <ul>
            <li class="variable" *ngFor="let variable of variables">
                {{variable}}
            </li>
        </ul>
    </div>
    <div class="methods">
        <h4>Methods: </h4>
        <ul>
            <li class="method" *ngFor="let method of methods">
                {{method}}
            </li>
        </ul>
    </div>
</div>

