.class-box{
    border           : 2px solid black;
    background-color : white;
    /* height      : 250px; */
    position         : absolute;
    /* width       : 250px; */
    min-width        :250px;

}

mat-card{
    padding         : 0;
}

mat-card-header{
    background-color: #673ab7;
}

mat-card-header *{
    color           : white;
}

mat-card-subtitle{
    padding-left    : 10px;
}

.variable-header, .method-header, .name-header{
    display         : flex;
    flex-direction  : row;
}

.name-header{
    width           : 100%;
}

.name-header .edit-button{
    margin-top      : 3px;
}

.edit-button{
    height          : 20px;
    margin-right    : 10px;
    margin-left     : auto;
    margin-top      : 17px;
}

 .editor{
    background-color: white;
    box-shadow      : 0px 5px 10px lightgray;
    position        : absolute;
    
}

span button{
    float           : right;
}

