<h1 mat-dialog-title>{{name}} modal works</h1>
<!-- edit button contents -->
<span *ngIf="buttonPressed === 'edit'">
    <form class="edit-form">
        <mat-form-field>
            <mat-select placeholder="Choose a class..." [(value)]="choice">
               <mat-option *ngFor="let className of classNames" value="{{className.innerHTML}}" >{{className.innerHTML}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="button" (click)="search(choice)">Submit</button>
    </form>
</span>
<!-- new button contents -->
<span *ngIf="buttonPressed === 'new'">
    <form class="new-form">
      <mat-form-field>
        <label>Class Name<input matInput ng-model="class-name"/></label>
      </mat-form-field>
      <mat-form-field>
        <label>Methods (Seperated by commas)<textarea matInput ng-model="methods"></textarea></label>
      </mat-form-field>
      <mat-form-field>
        <label>State variables (Seperated by commas)<textarea matInput ng-model="variables"></textarea></label>
      </mat-form-field>
    </form>
</span>
<!-- export button contents -->
<span *ngIf="buttonPressed === 'export'">
    <button mat-raised-button color="primary" class="submit" download>Export</button>
</span>
<!-- import button contents -->
<span *ngIf="buttonPressed === 'import'">
    <form>
        <input type="file" class="file-input">
        <button mat-raised-button color="primary" class="submit">Import</button>
    </form>
</span>
