<h1 mat-dialog-title>{{name}}</h1>
<!-- edit button contents -->
<span *ngIf="buttonPressed === 'edit'">
    <form class="edit-form">
      <span *ngIf="choice !== 'found'">
        <mat-form-field>
            <mat-select placeholder="Choose a class..." [(value)]="choice">
              <!-- <mat-option selected>None</mat-option> -->
               <mat-option *ngFor="let className of classNames" value="{{className.innerHTML}}" >{{className.innerHTML}}</mat-option>
            </mat-select> 
        </mat-form-field>
        <button mat-raised-button color="primary" type="button" (click)="search(choice)">Confirm</button>
      </span>  

        <span *ngIf="choice === 'found'">
          <mat-form-field class="input-data">
            <mat-label>Class Name</mat-label>
            <input matInput [(ngModel)]="className" [ngModelOptions]="{standalone:true}"/>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Methods</mat-label>
              <textarea matInput [(ngModel)]="methods" [ngModelOptions]="{standalone:true}"></textarea>
            <mat-hint>Seperated by commas</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>State variables</mat-label>
            <textarea matInput [(ngModel)]="variables" [ngModelOptions]="{standalone:true}"></textarea>
            <mat-hint>Seperated by commas</mat-hint>
          </mat-form-field>
          <button [mat-dialog-close] mat-raised-button color="primary" type="button" (click)="updateClass()">Update</button>  
        </span>
    </form>
</span>
<!-- new button contents -->
<span *ngIf="buttonPressed === 'new'">
    <form class="new-form">
      <mat-form-field>
        <mat-label>Class Name</mat-label>
        <input matInput [(ngModel)]="className" [ngModelOptions]="{standalone:true}"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Methods</mat-label>
        <textarea matInput [(ngModel)]="methods" [ngModelOptions]="{standalone:true}"></textarea>
        <mat-hint>Seperated by commas</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>State variables</mat-label>
        <textarea matInput [(ngModel)]="variables" [ngModelOptions]="{standalone:true}"></textarea>
        <mat-hint>Seperated by commas</mat-hint>
      </mat-form-field>
      <button mat-raised-button color="primary" [mat-dialog-close] type="button" (click)="insertData()">Submit</button>
    </form>
</span>
<!-- delete button contents -->
<span *ngIf="buttonPressed === 'delete'">
  <form class="delete-form">
      <mat-form-field>
          <mat-select placeholder="Choose a class..." [(value)]="choice">
            <!-- <mat-option selected>None</mat-option> -->
            <mat-option *ngFor="let className of classNames" value="{{className.innerHTML}}" >{{className.innerHTML}}</mat-option>
          </mat-select> 
      </mat-form-field>
      <button [mat-dialog-close] mat-raised-button color="primary" type="button" (click)="search(choice)">Submit</button>
  </form>
</span> 
<!-- export button contents -->
<!-- line 71 actually serves our diagram.-->
<span *ngIf="buttonPressed === 'export'">
    <h1>Copy this:</h1>
    <code>
      <pre>{{service.jsonString}}</pre>
    </code>
</span>
<!-- import button contents -->
<span *ngIf="buttonPressed === 'import'">
    <form>
      <input matInput [(ngModel)]="diagram" [ngModelOptions]="{standalone:true}"/>
        <button mat-raised-button color="primary" [mat-dialog-close] type="button" class="submit" (click)="importDiagram(diagram)">Import</button>
    </form>
</span>
<!-- delete attribute contents -->
<span *ngIf="buttonPressed === 'delete_attribute'">
  <form class="delete_attribute-form">
    <span *ngIf="choice !== 'found'">
      <mat-form-field>
          <mat-select placeholder="Choose a class..." [(value)]="choice">
            <!-- <mat-option selected>None</mat-option> -->
             <mat-option *ngFor="let className of classNames" value="{{className.innerHTML}}" >{{className.innerHTML}}</mat-option>
          </mat-select> 
      </mat-form-field>
      <button mat-raised-button color="primary" type="button" (click)="search(choice)">Confirm</button>
    </span>  
      <span *ngIf="choice === 'found'"> <!--This also needs to me changed...Add function in copmonents part-->
        <mat-form-field>
          <!-- THIS SECTION NEEDS TO BE EDITED-->
          <mat-label> Methods </mat-label>
          <mat-select [(value)]="selected_1">
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label> Variables </mat-label>
          <mat-select [(value)]="selected_2">
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
          </mat-select>
          <!-- THIS SECTION NEEDS TO BE EDITED-->
        </mat-form-field>
        <button [mat-dialog-close] mat-raised-button color="primary" type="button" (click)="updateClass()">Update</button>  
      </span>
  </form>
</span>