span mat-form-field{
    margin-bottom : 20px;
    margin-top    : 20px;
}

pre{
    white-space   : inherit;
}

span form, span mat-form-field{
    display       : flex;
    flex-direction: column;
}

.textbox button{
    float         : right;
    margin-bottom : 10px;
}



.close-button{
    float          : right;
    margin-top     : 20px;
}

.import-wrapper{
    margin-left    : 25% !important;
    width          : 50%;
}

button input{
    display        : none;
}



.chip::marker{
    content       : '' !important;
}

span button{
    margin-left  : 40%;
}