<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="all-buttons">
  <app-new-button></app-new-button>
  <app-edit-button></app-edit-button>
  <app-import-button></app-import-button>
  <app-export-button></app-export-button>
</div> -->
<div class="classes-container">
  <app-class-area></app-class-area>

</div>

<!-- <div class="testing">



  <button (click)="write()">Write!</button>
</div>

<div class="testing2">
  <button (click)="read()">Read!</button>
</div> -->


<router-outlet></router-outlet>
