<!--The content below is only a placeholder and can be replaced.-->
<div class="all-buttons">
  <app-new-button></app-new-button>
  <app-edit-button></app-edit-button>
  <app-import-button></app-import-button>
  <app-export-button></app-export-button>
</div>
<div class="classes-container">
  <app-class-area></app-class-area>
  <!-- <ng-template #container></ng-template> -->
  <!-- <app-class-box></app-class-box> -->
</div>

<!-- <app-create-button-test></app-create-button-test> -->
<router-outlet></router-outlet>
