<!--The content below is only a placeholder and can be replaced.-->
<div class="all-buttons">
  <app-new-button></app-new-button>
  <app-edit-button></app-edit-button>
  <app-import-button></app-import-button>
  <app-export-button></app-export-button>
</div>
<div class="classes-container">
  <app-class-area></app-class-area>

</div>

<div class="testing">
  <mat-form-field>
    <input class="form-control" [(ngModel)]="name" matInput placeholder="Put text here!">
  </mat-form-field>

  <button (click)="test()">Check!</button>
</div>

<router-outlet></router-outlet>
