<app-create-button-test (click)="createClass()"></app-create-button-test>
<div class="all-buttons">
    <button mat-raised-button color="primary" class="buttons" (click)="openDialog('new')" >New</button>
    <button mat-raised-button color="primary" class="buttons" (click)="openDialog('edit')">Edit</button>
    <button mat-raised-button color="primary" class="buttons" (click)="openDialog('import')">Import</button>
    <button mat-raised-button color="primary" class="buttons" (click)="openDialog('export')">Export</button>

    <!-- <app-new-button></app-new-button> -->
    <!-- <app-edit-button></app-edit-button> -->
    <!-- <app-import-button></app-import-button> -->
    <!-- <app-export-button></app-export-button> -->
</div>
<div class="classes">
    <ng-template #container></ng-template>
</div>
