.classes{
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    position      : absolute;
}


.class-container{
    height        : 255px;
    margin        : 20px;
    position      : absolute;
    width         : 255px;

}

.legend{
    border        : 1px solid black;
    float         : right;
    margin-right  : 10px;
    margin-top    : 20px;
    width         : 100px;
}

ul{
    padding-left  : 10px;
}

li{
    display       : flex;
    flex-direction: row;
}

.circle{
    background    : green;
    border-radius : 50%;
    height        : 10px;
    margin-top    : 2px;
    margin-right  : 2px;
    width         : 10px;
}

.square{
    background    : red;
    height        : 10px;
    margin-top    : 2px;
    margin-right  : 2px;
    width         : 10px;


}

app-class-box{
    margin-left   : 20px;
    margin-top    : 20px;
    height        : 260px;
    width         : 260px;
    
}




.cli-button{
    float         : right;
}
pre {
    white-space   : inherit;
    height        : 90vh;
}

.testing-area{
    display       : flex;
    flex-direction: row;
    border        : 1px solid black;
    /* height        : 100vh; */

}