.classes{
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    height        : 90vh;
}

.testing-area{
    display       : flex;
    flex-direction: row;
    border        : 1px solid black;
    /* height        : 100vh; */
}



