<!-- <script src="node_modules/jsplumb/dist/js/jsplumb.min.js"></script> -->

<div class="all-buttons">

    <button mat-raised-button color="primary" class="buttons" (click)="openDialog('new')" >New</button>
    <button mat-raised-button color="primary" class="buttons" (click)="openDialog('edit')">Edit</button>
    <button mat-raised-button color="primary" class="buttons" (click)="openDialog('import')">Import</button>
    <button mat-raised-button color="primary" class="buttons" (click)="openDialog('export');updateStoredDiagram()">Export</button>
    <a routerLink="cli">
        <button mat-raised-button color="primary" class="cli-button">Switch to CLI</button>
    </a>
    <button (click)="removeTest()">Remove</button>

</div>
<div class="classes" >
    <!-- <ng-template  #container></ng-template> -->
    <ng-container *ngFor="let classBox of classBoxes">
        <app-class-box></app-class-box>
        <!-- <app-class-box cdkDrag (cdkDragEnded)="moveCheck()"></app-class-box> -->
    </ng-container>
</div>


