.classes{
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    position      : absolute;
}


.class-container{
    /* height        : 255px; */
    margin        : 20px;
    position      : absolute;
    /* width         : 255px; */

}



mat-toolbar{
    color           : white;
    background-color: #673ab7;

}


mat-toolbar button, a{
    box-shadow     : none !important;
}

ul{
    padding-left  : 10px;
}

li{
    display       : flex;
    flex-direction: row;
}



app-class-box{
    margin-left   : 20px;
    margin-top    : 20px;
    height        : 260px;
    width         : 260px;

}

h3{
    margin-right : 20px;
}

.cli-container{
    margin-left   : auto;
}

.cli-button{
    float         : right;

}
pre {
    white-space   : inherit;
    height        : 90vh;
}

.testing-area{
    display       : flex;
    flex-direction: row;
    border        : 1px solid black;
    /* height        : 100vh; */

}
