/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.buttons {
    margin-right  : 10px !important;
}

.mat-chip-list-wrapper{
    margin-left   : -30px !important;
}

/* aggregate connection */
.unfilledDiamond{
    fill            : white;
    outline-color   : purple;
}

#terminal-container{
    height          : 100%;
    width           : 100%;
}

.endpointStatic{
    z-index         : 1;
}

.endpointClass{
    z-index         : 10;
}

